<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Студия танца "Piter"</title>
    <link
      rel="icon"
      href="https://i.pinimg.com/736x/6a/99/01/6a9901fc16f285d293c41b6394787634.jpg"
    />
    <link href="/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <%- include ('blocks/nawbar') -%>

    <img class="admin-img" id="img-admin" src="https://i.gifer.com/XOsX.gif" />
    <form class="text-admin">
      <div class="input-sign">
        <div class="input-password">
          <div class="input-text-password" data-redactor-toolbar="yes"></div>
          <input
            id="password"
            type="password"
            placeholder="Пароль"
            class="input-pass"
            value=""
            name="password"
            data-tilda-req="1"
          />
        </div>
      </div>

      <a href="#text-hidden">
        <button
          class="button-sub"
          id="button-sub"
          type="submit"
          onmousedown="viewDiv()"
        >
          Войти
        </button></a
      >
    </form>

    <div id="text-hidden" class="posts"><label>Статистика</label></div>
    <!-- <div class="graf" id="canvas">
      <canvas id="myCanvas"></canvas>
      <legend for="myCanvas"></legend>
    </div> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 

    <div class="con" id="con">
      <div style="width: 70%">
      <canvas id="myChart" style="display: none;" width="500px"></canvas>
      </div>
      </div> 
    <script type="application/javascript" src="/script.js"></script>
  </body>
</html>
