<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Студия танца "Piter"</title>
    <link href="/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <%- include ('blocks/nawbar') -%>

    <img class="admin-img" id="img-admin" src="https://i.gifer.com/XOsX.gif" />
    <form class="text-admin">
      <div class="input-sign">
        <div class="input-password">
          <div class="input-text-password" data-redactor-toolbar="yes"></div>
          <input
            id="password"
            type="password"
            placeholder="Пароль"
            class="input-pass"
            value=""
            name="password"
            data-tilda-req="1"
          />
        </div>
      </div>

      <a href="#text-hidden">
        <button
          class="button-sub"
          id="button-sub"
          type="submit"
          onmousedown="viewDiv()"      
        >
          Войти
        </button></a
      >

    </form>
    

    <div id="text-hidden" class="posts"><label>Статистика</label></div>
   

    <script type="application/javascript" src="/script.js"></script>
  </body>
</html>
