<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Студия танца "Piter"</title>
    <link href="/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <%- include ('blocks/nawbar') -%>
        <div class="directions-main">
            <div class="text-directions">
                <h4>Танцевальная студия "DANCE" - это место, где каждый найдет себе занятие по душе!
                    Танцы для взрослых и детей, растяжка, хореографические постановки и многое другое!
                    И все это в одном месте!
                    Мы готовы работать с вами на результат!</h4>
                <h4>Наши направления: </h4>
                <ul>
                    <li>хип-хоп; </li>
                    <li>бальные танцы;</li>
                    <li>восточные танцы;</li>
                    <li>классический танец;</li>
                    <li>современный танец;</li>
                    <li>juzz-funk;</li>
                    <li>модерн;</li>
                    <li>контемпорари;</li>
                    <li>пластика;</li>
                </ul>
                <h4> Приходите к нам, чтобы стать лучше! </h4>
                <h4>Коллектив студии танца "DANCE" активно участвует в различных конкурсах, фестивалях, выступает на
                    различных площадках города.</h4>
            </div>
            <div>
                <img src="https://www.danceopen.com/templates/yootheme/cache/darian_affishe_copyright1-c54f8082.jpeg" class="img-dir">
            </div>
        </div>
</body>

<%- include ('blocks/footer') -%>
</html>