<!DOCTYPE html>
<html lang="ru">
<head>
    <title>ERROR</title>
    <link href="/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="error-img">
        <img src="photo/source.gif" alt="Ошибка!">
    </div>
   
</body>
</html>
