<!DOCTYPE html>
<html lang="ru">
<head>
    <title>ERROR</title>
    <link rel="icon" href="https://i.pinimg.com/736x/6a/99/01/6a9901fc16f285d293c41b6394787634.jpg">
    <link href="/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="error-img">
        <img src="photo/source.gif" alt="Ошибка!">
    </div>
   
</body>
</html>
