<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Студия танца "Piter"</title>
    <link rel="icon" href="https://i.pinimg.com/736x/6a/99/01/6a9901fc16f285d293c41b6394787634.jpg">
    <link href="/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <%- include ('blocks/nawbar') -%>

    <div class="price-main">
      <div class="price-block">
        <div class="img-price">
          <img
            class="img-price"
            src="https://yandex-images.clstorage.net/1xYm00321/f08057w2I/ZO-SJ8kSBAenvkINntL0okQnhmYTpxmhAaG8FWLSw1kZ0OXSLDXHnl1JR7I4KqGsoGV3KlfCfU0-KQ36JcI8pTnThyL4AwB6zvtaeM7y-LZMUvNqV9ZxsHXItWVHwsohNJG9l01I37pEaFOCNZcdICGthvPWB6S81x0EhiHOUYwo42qKzb59Xws-G3Xm2uT2hA6aVo_SoWBZHbkFr1_mNFn4XM8R2Mr-9JyuO0Ez1QD1gVJX1jPs8HPxDB6Z6lBshGuKU_GC2WtHalf56kaY0kzOsgqvngFIKcHtTePH-txhMPzLzVhC3phAXpcli4F86S1i-woXFPx_sbTyhRqQ8LBXxhfhVplzj6bTBfJC7ApEIgYaz0rNkKGpiYWjh5oAZQCQi0HommIQECZXfftdgBkNppNS65yUY2mUBoUKFLDE6y4_AVJpYy9yAxlK9oh6CBru4r-uQVRNHeGptw8WOO2cuEeZNIoGnIz6I3XjiYAtKUYbdkMUyDv9TAqh9nCYrH8ubyl-7bvffgt1djIcplTiZsavbgEsGbllzX9rDhBFcCDv1eyClmCstuNBv9Fo5SnSfz43_HjjadDmuQL8lAAn1m9tlnV3u6q73XayANJwZhp6567tkGWRGXH7jxp4JQBgIyGoogbUECYfTXMxOJk9wuMmfwRYo_XYoi0C7Ahwv_4vwQb5n1eSy5nKmuj6mCKKxqcmEYg9PTXxO6-OzPX4IAehLH4KzJB2u7VnSTx1rXKbfncssHO9vNoRwuSMLHu-_xFuofP3ytsN6lJ0IpgmNm4n7m0U8RUp1atn_sxNCNhX5UhCWthgNqs5rym8QZXeY9KvfLCH8SguYQIYlNw_ntsd9gVvMwIfGR5mEIZMzn7SG56hpJWh6QlfH4rcXUxEp3UwrnYIVNbDmf9F7GGR1h-2DxQIY-XokhnynAjML6qTae6tazNqT4lKslQqdHpeBtfKLURRjQGBWz8M"
          />
        </div>
        <div class="name-price">
          <p>Пробное/разовое занятие (1 час)</p>
        </div>
        <div class="price">600 р.</div>
        <a href="#">
          <button class="button-price">Хочу</button></a
        >
      </div>

      <div class="price-block">
        <div class="img-price">
          <img
            class="img-price"
            src="https://interesnoznat.com/wp-content/uploads/2511.jpg"
          />
        </div>
        <div class="name-price">
          <p>Абонемент на 8 занятий(1 стиль, 1 педагог)</p>
        </div>
        <div class="price">4200 р.</div>
        <a href="/sign_up"> <button class="button-price">Хочу</button></a>
      </div>
      <div class="price-block">
        <div class="img-price">
          <img
            class="img-price"
            src="https://avatars.mds.yandex.net/i?id=70cd47a5cefa9ddf50b26bcafdd3c32d-4612626-images-thumbs&ref=rim&n=13&w=640&h=640"
          />
        </div>
        <div class="name-price">
          <p>Абонемент "ЭКСКУРСИЯ"</p>
        </div>
        <div class="price-about">
          <p>
            Покупается только в самый первый раз. По нему возможно посетить 8
            занятий на разных направлениях в открытых группах.
          </p>
        </div>
        <div class="price">600 р.</div>
        <a href="/sign_up"> <button class="button-price">Хочу</button></a>
      </div>
      <div class="price-block">
        <div class="img-price">
          <img
            class="img-price"
            src="https://img-fotki.yandex.ru/get/9231/89515314.2b3/0_1482dc_8b724711_XXL.jpg"
          />
        </div>
        <div class="name-price">
          <p>Абонемент на 6 занятий</p>
        </div>
        <div class="price-about">
          <p></p>
        </div>
        <div class="price">3500 р.</div>
        <a href="/sign_up"> <button class="button-price">Хочу</button></a>
      </div>
      <div class="price-block">
        <div class="img-price">
          <img
            class="img-price"
            src="https://get.wallhere.com/photo/monochrome-jumping-water-arms-up-wet-body-women-1549653.jpg"
          />
        </div>
        <div class="name-price">
          <p>Абонемент на 12 занятий</p>
        </div>
        <div class="price-about">
          <p>Открытые группы. 1 месяц, действует со дня покупки.</p>
        </div>
        <div class="price">5900 р.</div>
        <a href="/sign_up"> <button class="button-price">Хочу</button></a>
      </div>
      <div class="price-block">
        <div class="img-price">
          <img
            class="img-price"
            src="https://i.pinimg.com/736x/90/ff/2a/90ff2ab8fcfe3b18699d32c756d4d838--movement-photography-body-photography.jpg"
          />
        </div>
        <div class="name-price">
          <p>Безлимитный абонемент на месяц (открытые группы)</p>
        </div>
        <div class="price-about">
          <p>
            Включены только открытые группы. Действует ровно месяц со дня
            покупки.
          </p>
        </div>
        <div class="price">8900 р.</div>
        <a href="/sign_up"> <button class="button-price">Хочу</button></a>
      </div>
      <div class="price-block">
        <div class="img-price">
          <img
            class="img-price"
            src="https://i.pinimg.com/originals/e6/0c/b9/e60cb9ab5fe222a42a52422d26eeeaa8.jpg"
          />
        </div>
        <div class="name-price">
          <p>Безлимитный абонемент на месяц+ (открытые группы + курсы)</p>
        </div>
        <div class="price-about">
          <p>
            Включены все открытые группы и все курсы. Действует ровно месяц со
            дня покупки.
          </p>
        </div>
        <div class="price">11900 р.</div>
        <a href="/sign_up"> <button class="button-price">Хочу</button></a>
      </div>
      <div class="price-block">
        <div class="img-price">
          <img
            class="img-price"
            src="http://static.wixstatic.com/media/b05454_41e1e214cd2844f793ed932e0f43687e~mv2.jpg_srz_720_900_85_22_0.50_1.20_0.00_jpg_srz"
          />
        </div>
        <div class="name-price">
          <p>Безлимитный абонемент на год (открытые группы + курсы)</p>
        </div>
        <div class="price-about">
          <p>
            Включены все открытые группы и все курсы. Действует ровно месяц со
            дня покупки.
          </p>
        </div>
        <div class="price">119 000 р.</div>
        <a href="/sign_up"> <button class="button-price">Хочу</button></a>
      </div>
      <script type="application/javascript" src="/script.js"></script>
    </div>
  </body>
  <%- include ('blocks/footer') -%>
</html>
