<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Студия танца "Piter"</title>
    <link href="/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <%- include ('blocks/nawbar') -%>     
    
    <div class="main-sign">
     <form class="text-sign">      <!-- method="post"  active="/check-user"-->
        <div class="input-sign">
          <div class="input-name">
            <input
              type="text"
              autocomplete="name"
              name="username"
              value=""
              placeholder="Ваши ФИО"
              data-tilda-req="1"
              data-tilda-rule="name"
            />
          </div>

          <div class="input-nomber">
            <input
              type="tel"
              name="telephone"
              value=""
              placeholder="+7 (999) 999-99-99"
              data-phonemask-iso="ru"
              data-phonemask-code="+7"
              data-phonemask-mask="+7(999)999-99-99"
              maxlength="11"
              data-phonemask-without-code="+7 (999) 999-99-99"
            />
          </div>

          <div class="input-age">
            <div class="input-text-age" data-redactor-toolbar="yes"></div>
            <input
              type="number"
              placeholder="Ваш возраст"
              class="input-age"
              value=""
              name="age"
              data-tilda-req="1"
            />
          </div>
        </div>

        <div class="check-box-sign">
          <label class="label-check-sign">
            <input type="checkbox" class="type-check-sign" value="hip-hop" />
            <span class="fake"></span>
            <span class="text-check-sign"
              ><label class="nameDance"> Хип-хоп </label></span
            >
          </label>

          <label class="label-check-sign">
            <input type="checkbox" class="type-check-sign" value="balet" />
            <span class="fake"></span>
            <span class="text-check-sign">Бальные танцы</span>
          </label>

          <label class="label-check-sign">
            <input type="checkbox" class="type-check-sign" value="vostok" />
            <span class="fake"></span>
            <span class="text-check-sign">Восточные танцы</span>
          </label>

          <label class="label-check-sign">
            <input type="checkbox" class="type-check-sign" value="classic" />
            <span class="fake"></span>
            <span class="text-check-sign">Классический танец</span>
          </label>

          <label class="label-check-sign">
            <input type="checkbox" class="type-check-sign" value="new-danse" />
            <span class="fake"></span>
            <span class="text-check-sign">Современный танец</span>
          </label>

          <label class="label-check-sign">
            <input type="checkbox" class="type-check-sign" value="juzz-func" />
            <span class="fake"></span>
            <span class="text-check-sign">Juzz-funk</span>
          </label>

          <label class="label-check-sign">
            <input type="checkbox" class="type-check-sign" value="modern" />
            <span class="fake"></span>
            <span class="text-check-sign">Модерн</span>
          </label>

          <label class="label-check-sign">
            <input type="checkbox" class="type-check-sign" value="contemp" />
            <span class="fake"></span>
            <span class="text-check-sign">Контемпорари</span>
          </label>

          <label class="label-check-sign">
            <input type="checkbox" class="type-check-sign" value="plastica" />
            <span class="fake"></span>
            <span class="text-check-sign">Пластика</span>
          </label>
        </div>


 
        <button type="submit" id="button-sign"  onmousedown="dbInsert()">Записаться на занятие</button>
      </form>

      <div class="sign-img">
        <img src="https://i.pinimg.com/originals/f7/c6/c2/f7c6c2382b9679f84f2471cf936c7338.gif"/>
      </div>
    </div>
   
  </body>
  <%- include ('blocks/footer') -%>
</html>
