<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Студия танца "Piter"</title>
    <link rel="icon" href="https://i.pinimg.com/736x/6a/99/01/6a9901fc16f285d293c41b6394787634.jpg">
    <link href="/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
</head>
<body>
    <%- include ('blocks/nawbar') -%>
    <div class="timing-main">
       
        <p class="timing-text">Записаться на занятия можно по расписанию:</p>
        <div class="week">
          
            <ul style="list-style-type: none; text-align: justify;">пн-пт
                <li>12:00 пилатес</li>
                <li>13:00 йога</li>
                <li>14:00 хип-хоп</li>
                <li>15:00 jazz fank</li>
                <li>16:00 контемп</li>
                <li>17:00 бальные танцы</li>
                <li>18:00 зумба</li>
                <li>19:00 стретчинг</li>
                <li>20:00 восточные танцы</li>
            </ul>
            <ul style="list-style-type: none; text-align: justify;">сб
                <li>12:00 пилатес</li>
                <li>13:00 йога</li>
                <li>14:00 хип-хоп</li>
                <li>15:00 jazz fank</li>
                <li>16:00 контемп</li>
                <li>17:00 бальные танцы</li>
            </ul>
            <ul style="list-style-type: none; text-align: justify;">вс
                <li>12:00 jazz fank</li>
                <li>13:00 контемп</li>
                <li>14:00 бальные танцы</li>
                <li>15:00 зумба</li>
                <li>16:00 стретчинг</li>
                <li>17:00 восточные танцы</li>
            </ul>
        </div>
        
        
    </div>
</body>
<%- include ('blocks/footer') -%>
</html>