<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Студия танца "Piter"</title>
    <link href="/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
</head>
<body>
    <%- include ('blocks/nawbar') -%>

    <div class="tutor-main">
            <div><img class="img-tutor" src="https://i.pinimg.com/originals/03/89/e5/0389e5d43eef378f22cbddc80dc6f12d.jpg"></div>  
            <div class="text-tutor">
                <p class="p-tutor">Анна</p>
                 Cтаж преподавания с 2005 года.Занимается с детьми и взрослыми.Индивидуальные занятия.Классический танец, современные танцы, hip-hop, джаз модерн, стрип пластика, фитнес.
                Преподаёт в студиях "АРТ-СТУДИО", "Я-Танцор", "Dance-Class".В школе танцев "Дэнс-Класс" - с 2000 г. Работала с такими коллективами, как: "Мираж", "Краски", "Ретро ФМ", "Балет Аллы Духовой TODES", "Тодес", "Латина", "Эстрадный балет "Жар-птица", "Арт-студио" и др.
                С 2007 г.- хореограф-постановщик в театре "На Юго-Западе"
            </div>
            <div><img class="img-tutor" src="https://i.pinimg.com/736x/f7/28/02/f72802c2d941121890e027f3f20b9355.jpg"></div>  
            <div  class="text-tutor">
                <p class="p-tutor">Виктория</p>
                Виктория - хореограф-постановщик.
                Она окончила Санкт-Петербургский государственный университет культуры и искусств по специальности «Художественный руководитель ансамбля народного танца».
                Виктория работала с такими коллективами, как ансамбль «Санкт-Петербург», ансамбль «Невские орнаменты», «Северная Пальмира», и другими.
                В 2012 году Виктория создала свой театр.Здесь она занимается постановкой танцев, созданием костюмов, оформлением и сценографией.
            </div>
            <div><img class="img-tutor" src="https://balletthebestphotographs.files.wordpress.com/2016/12/anna-ol.jpg"></div>  
            <div  class="text-tutor">
                <p class="p-tutor">Мария</p> 
                Cтаж работы в сфере танцев более 20 лет.
                Имеет высшее хореографическое образование.
                Занималась хореографией с 5 лет.
                В студенческие годы занималась балетом, закончила балетмейстерский факультет Российской академии музыки им. Гнесиных (мастерская профессора Н.С.Жихаревой).
                Мария получила диплом Академии, как балетмейстер-постановщик.
                Многократно принимала участие в различных конкурсах и фестивалях, была членом судейской коллегии.
                С 2003 года работает в Москве, преподает танец живота, хип-хоп, джаз модерн.
            </div>
            <div><img class="img-tutor" src="https://i.pinimg.com/736x/41/c9/1a/41c91a0b2cba46ef03d50ba51a1ae07a--cool-poses-sergei-polunin.jpg"></div>  
            <div  class="text-tutor">
                <p class="p-tutor">Сергей</p> 
                Cтаж работы в балете более двадцати лет.
                В его танцевальной карьере были и гастроли в Израиле, и на Кубе, и в Испании.
                Он был хореографом в театре, где ставил не только балетные спектакли, но и мюзиклы.
                Среди его работ такие спектакли как «Чикаго», «Красавица и Чудовище».
                Сергей считает, что балет - это не просто танец.
                Это целый мир, который наполнен эмоциями и переживаниями.
                На сцене в роли танцора он выступает уже двадцать лет, однако не считает себя профессионалом.
            </div>
        </div>       
    </div>
</body>
<%- include ('blocks/footer') -%>
</html>