<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Студия танца "Piter"</title>
    <link href="/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <%- include ('blocks/nawbar') -%>
    <h1>Страница пользователя: <%= username %></h1>


    <% if(username == 'admin') { %>
    <ul>
      <% hobbies.forEach((el) => { %>
      <li><%= el %></li>
      <% }) %>
    </ul>

    <% } %>

    <button type="submit" id="button" onmousedown="dbInsert()">Статистика</button>
    <script>
      function dbInsert() {
        let user = 123;
        fetch("/db.json").then(function (response) {
          response.text().then(function (text) {
            user = text;
            console.log(user);
            user = JSON.parse(user);
            console.log(user);

            // document.getElementById('textUser').innerHTML='dataDb';
          });
        });
      }
      dbInsert();
    </script>

    <p id="textUser"></p>
    <img
      src="https://steamuserimages-a.akamaihd.net/ugc/788625812202009487/4C8FE17EA8F5C2706B6E7C36E7C4A80240CCA41D/?imw=512&amp;imh=512&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true"
    />
    <script src="/script.js"></script>
  </body>
  <%- include ('blocks/footer') -%>
</html>
