<link href="/style.css" rel="stylesheet">
<footer>
    <div class="footer-container">
        <div class="row">
            <div class="footer-name">
                <p>Студия танца "DANCE"</p>
            </div>
            <div class="footer-number">
                <p>Контакты: 89012345678</p>
            </div>
            <div class="footer-adres">
                <p>Санкт-Петербург, ул.Малая, д.123.</p>
            </div>
        </div>
    </div>
</footer>