<link href="/style.css" rel="stylesheet">
<nav class="navbar">
        <div class="container"><a href="Dance.html" class="navbar-brand">Dance</a>
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/sign_up">Запись на занятия</a></li>
                    <li><a href="/timing">Расписание</a></li>
                    <li><a href="/price">Цены на абонементы</a></li>
                    <li><a href="/tutors">Педагоги</a></li>
                    <li><a href="/directions">Направления</a></li>
                </ul>
            </div>
        </div>
        </nav.navbar>